body{
		background-color: rgb(240, 240, 240);
		background-repeat: no-repeat;
		background-size: cover;
	}
th,td{
		width: 10%;
		border-bottom: 1px solid black;
		margin: 5px; 
	}
table{
		width: 78%;
		border: 1px solid white;
        padding: 20px;
        background-color: white;
        color: black;
        border-right-color: white;
        border-top-color: white;
        box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.3);
        text-align: center;
    
	}
h2{
		font-family: cursive;
		text-align: center;
}